<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if site.minima and site.minima.include_fonts %}
      {{ site.minima.include_fonts }}
    {% endif %}
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>
  <body>
    <header>
      <h1>{{ site.title | escape }}</h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title | escape }}</p>
    </footer>
  </body>
</html>