{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<style>
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 32px; 
    float: left; 
    text-align: center;
}
#share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}
#share-buttons > div.reddit > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.reddit:hover > svg {fill: #FF4500;}
#share-buttons > div.mastodon > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.mastodon:hover > svg {fill: #1AAB8A;}
#share-buttons > div.whatsapp > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.whatsapp:hover > svg {fill: #25D366;}
</style>


<span style="color: silver;">Share on: </span><div id="share-buttons">
    <div class="twitter" title="Share this on Twitter" onclick="window.open('https://twitter.com/share?text=Check out this Blog Post &url={{ site.url }}{{ pageurl }}');"><img src="/assets/img/icons8-twitter-20.png"></div>
    <div class="linkedin" title="Share this on Linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}&title=&summary=&source=');"><img src="/assets/img/icons8-linkedin-20.png"></div>
    <div class="mail" title="Share this through Email" onclick="window.open('mailto:?&body={{ site.url }}{{ pageurl }}');"><img src="/assets/img/icons8-mail-20.png"></div>
    <div class="reddit" title="Share this on reddit" onclick="window.open('https://www.reddit.com/submit?url={{ site.url }}{{ pageurl }}&title=');"><img src="/assets/img/icons8-reddit-20.png"></div>
    <div class="whatsapp" title="Share this on Whatsapp" onclick="window.open('https://api.whatsapp.com/send?text=Checkout this blog post {{ site.url }}{{ pageurl }}');"><img src="/assets/img/icons8-whatsapp-20.png"></div>
</div>